Django
numpy
whitenoise
django-autoslug-iplweb
django-dash
django-nine
django-tinymce
django-toolbelt
django-widget-tweaks
matplotlib
pandas
dj-database-url
gunicorn
psycopg2
seaborn
pickleshare
plotly
matplotlib
scikit-image
scikit-learn